version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/backend"
    schedule:
      interval: "weekly"
    assignees:
      - "team-backend"
    labels:
      - "dependencies"
      - "python"
    open-pull-requests-limit: 5

  - package-ecosystem: "npm"
    directory: "/front"
    schedule:
      interval: "weekly"
    assignees:
      - "team-frontend"
    labels:
      - "dependencies"
      - "javascript"
    open-pull-requests-limit: 5

  - package-ecosystem: "docker"
    directory: "/backend"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"
      - "github-actions"